<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>All Users</title>
    <style >
        .center {
            width: 200px; /* Ширина элемента в пикселах */
            padding: 10px; /* Поля вокруг текста */
            margin: auto; /* Выравниваем по центру */
            background: #fc0; /* Цвет фона */
        }
    </style>
</head>
<body>

<table border="1" align="center">
    <caption>Список всех пользователей</caption>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возвраст</th>
        <th>Емейл</th>
        <th>Роль</th>
        <th>Изменение</th>
        <th>Удаление</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getFirst_name()}"></td>
        <td th:text="${user.getLast_name()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getEmail()}"></td>

        <td>
            <span th:each="role : ${user.getRoles()}">
                <span th:text="${role.getRole()}"></span>
            </span>
        </td>

        <td><a th:href="@{/admin/update/{id}(id=${user.id})}">Update</a> </td>
        <td><a th:href="@{/admin/delete/{id}(id=${user.id})}">Delete</a> </td>
    </tr>

</table>

    <div class="center" >
        <a href="/admin/add">Добавить </a>
    </div>

<div class="center" >
    <a href="/logout">Выход </a>
</div>

</body>
</html>